.homepage-container{
    color: white;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 5px;
    font-size: 18px;
}

.app-logo{
    width: 230px;
    height: 250px;
}

