<div class="details-container">
  <div>
    <img src="{{ userImg }}" class="contact-img" />
  </div>
  <div class="details-buttons-container">
    <button class="ui primary basic button" routerLink="/contacts">Back</button>
    <a [routerLink]="['/contact/edit', { id: currContact._id }]"><button
        class="ui primary basic button">Edit</button></a>
    <button class="ui red basic button" (click)='deleteContact(currContact._id)'>Delete</button>
  </div>
  <h1>{{currContact.name}}</h1>
  <div class="contact-details">
    <div>{{currContact.phone}}</div>
    <div>{{ currContact.email }}
    </div>
  </div>
  <section class="user-transfer">
    <app-transfer-fund [contact]="currContact"></app-transfer-fund>
    <app-moves-list></app-moves-list>
  </section>
</div>