<header class="main-nav">
    <a exact class='main-nav-item' routerLink="/home" routerLinkActive="selected">
        <i class="home icon"></i>  
    </a>
    <a class='main-nav-item' routerLink="/contacts" routerLinkActive="selected">
<i class="address book icon"></i>
    </a>
    <a class='main-nav-item' routerLink="/statistic" routerLinkActive="selected">
        <i class="chart line icon"></i>
    </a>
<a class='main-nav-item' *ngIf="isLogged" (click)="onLogout()" routerLink="/statistic" routerLinkActive="selected">
    <i class="sign-out icon"></i>
</a>
</header>