<!-- <p>moves-list works!</p> -->

<!-- <div *ngFor="let move of moves">
<p>From: {{move.to}}</p>
<p>At: {{move.at}}</p>
<p>Amount: {{move.amount}}</p>

<p></p>

</div> -->

<div class="ui one column stackable center aligned page grid">
    <div class="column twelve wide">
<table class="ui inverted table">
    <thead>
        <tr>
            <th>To</th>
            <th>Amount</th>
            <th>At</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let move of moves">
            <td data-label="To">{{move.to}}</td>
            <td data-label="Amount">{{move.amount}}</td>
            <td data-label="At">{{move.at}}</td>
        </tr>
    </tbody>
</table>  
  </div>
</div>


<!-- 
<table class="ui celled table">
    <thead>
        <tr>
            <th>To</th>
            <th>Amount</th>
            <th>At</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let move of moves">
            <td data-label="To">{{move.to}}</td>
            <td data-label="Amount">{{move.amount}}</td>
            <td data-label="At">{{move.at}}</td>
        </tr>
    </tbody>
</table> -->