<div class="ui one column stackable center aligned page grid">
    <div class="column twelve wide">
        <form #form="ngForm" (ngSubmit)="handleSubmit(form)" class="ui placeholder segment">
            <div class="ui column very relaxed stackable grid">
                <div class="column">
                    <div class="ui form">
                        <div class="field">
                            <label>Username</label>
                            <div class="ui left icon input">
                                <input type="text" placeholder="Username" name="username" ngModel>
                                <i class="user icon"></i>
                            </div>
                        </div>
                        <button class="ui blue submit button">Login</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>