
    <!-- <section className="transfer-fund">
        <form className="ui form" onSubmit={this.handleSubmit}>
    
            <h2>Transfer coins to :</h2>
            Amount <input type="number" name="amount" (input)="handleAmountInput($event)"/>
            <button className="ui primary basic button">Transfer Coins</button>
        </form>
    
    </section> -->


<!-- <div class="ui one column stackable center aligned page grid">
    <div class="column twelve wide">


        
    </div>
</div> -->

    <form 
        class="column" 
        #form="ngForm"
        (ngSubmit)="handleSubmit(form)">
        <div class="ui card">   
            <div class="content">
                <div class="header">Transfer coins to :</div>
            </div>
            <div class="content">
                <!-- <h4 class="ui sub header">Amount</h4> -->
                <div class="ui small feed">
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                Amount
                                <input class="amount" type="number" name="amount" ngModel>
                            </div>
                        </div>
                    </div>
                  
                 
                </div>
            </div>
            <div class="extra content">
                <button class="ui button">Transfer Coins</button>

            </div>
        </div>
    </form>


    <!-- onChange={this.handleChange} value={$event} -->