<div class="contact-edit">
    <div class="ui card">
        <img src="{{ userImg }} " alt="" />
        <div class="form-containar">
            <div class="ui form">

                <div class="field">
                    <br>
                    <label>Name</label>
                    <input type="text" [(ngModel)]="currContact.name" placeholder="Name" />
                </div>

                <div class="field">
                    <label>Email</label>
                    <input type="text" [(ngModel)]="currContact.email" placeholder="Email" />
                </div>
                <div class="field">
                    <label>Phone</label>
                    <input type="text" [(ngModel)]="currContact.phone" placeholder="Phone" />
                </div>
                <!-- <div class="ui large buttons"> -->

                <button class="ui primary basic button" (click)="updateContact()">Submit</button>
                <!-- <div class="or"></div> -->

                <button class="ui primary basic button" routerLink="/contacts">Back</button>
            </div>
        </div>
    </div>
</div>
<!-- </div> -->