.contact-edit {
  text-align: -webkit-center;
  margin-top: 70px;

}

label{
    color: white;
    margin-right: 10px;
}

.ui input {
  min-width: 230px;
  margin-top: 10px;
}

.button-container {
  margin-top: 10px;
}