<!-- <p>chart works!</p>
<div *ngIf="chartInfo">

<h1>{{ currChartInfo.title }}</h1>

<google-chart
 [title]="currChartInfo.title"
  [type]="currChartInfo.type" 
  [data]="currChartInfo.data"
    [columnNames]="currChartInfo.columnNames" 
    [options]="currChartInfo.options" 
    [height]="currChartInfo.height"
    style="width:100%">
</google-chart>
</div> -->

<div class="chart-style flex column both-align-center" *ngIf="chartData">
    <h1>{{ currentChartData.title }}</h1>
    <google-chart [title]="currentChartData.title" [type]="currentChartData.type" [data]="currentChartData.data"
        [columnNames]="currentChartData.columnNames" [options]="currentChartData.options"
        [height]="currentChartData.height" style="width:100%">
    </google-chart>
</div>

<!-- <div class="chart-style flex column both-align-center" *ngIf="chartD">
    <h1>{{ transactionchartData.title }}</h1>
    <google-chart [title]="transactionchartData.title" [type]="transactionchartData.type" [data]="currentChartData.data"
        [columnNames]="transactionchartData.columnNames" [options]="transactionchartData.options"
        [height]="transactionchartData.height" style="width:100%">
    </google-chart>
</div> -->